{% extends "base.html" %}

{% block title %}Download File{% endblock %}

{% block content %}
<div class="container">
    <h1 class="display-4">Download File</h1>
    <form method="POST" action="{{ url_for('download') }}">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.file.label(class="form-control-label") }}
            {{ form.file(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.submit(class="btn btn-primary") }}
        </div>
    </form>
</div>
{% endblock %}
