{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="jumbotron">
    <h1 class="display-4">Welcome to File Sharing!</h1>
    <p class="lead">Share your files securely with friends and colleagues.</p>
    <hr class="my-4">
    <p>Click the button below to login or register.</p>
    <a class="btn btn-primary btn-lg" href="/auth/login" role="button">Log In</a>
    <a class="btn btn-primary btn-lg" href="/auth/register" role="button">Register</a>
</div>
{% endblock %}
